/* Code for Footer */

.footer{
    background-color: #354f52;
    height: fit-content;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    gap: 30%;
    border-top: 1px solid white;
  }
  .left{
    border-right: solid 1px white;
    padding-right: 30px;
  }

  .right-aligned{
    text-align: right;
  }
  

  .socialmedia{
    width: 40px;
    height: 40px;
  }
  
  .socials{
    width: fit-content;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 32px;
    display: flex;
    gap: 32px;
  
  }

  /*Media Queries*/

  @media only screen and (max-width: 480px) {
    .footer{
      
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
 
    .left{
      border-right: none;
      text-align: center;
      padding-right: 0;
      padding-bottom: 30px;
    }

    .right{
      justify-content: center;
      border-top: 1px solid white;
      padding-top: 30px;
    }
  
    .right-aligned{
      text-align: center;
    }
  
    .socialmedia{
      width: 40px;
      height: fit-content;
    }
  

    .socials{
      width: fit-content;
      margin-bottom: 16px;
      margin-top: 16px;
      display: flex;
      gap: 16px;
    }
 
    p{
      margin: 0px;
    }
  }


  @media only screen and (min-width: 481px) and (max-width:600px) {
    .footer{
      background-color: #354f52;
      height: fit-content;
      width: 100%;
      padding-bottom: 100px;
      padding-top:100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #ffffff;
      font-family: 'Inter', sans-serif;
      line-height: 1.5;
      border-top: 1px solid white;
      text-align: center;
    }
 
    .left{
      border-right: none;
      text-align: center;
      padding-right: 0;
      padding-bottom: 30px;
    }

    .right{
      justify-content: center;
      border-top: 1px solid white;
      padding-top: 30px;
    }
  
    .right-aligned{
      text-align: center;
    }
  
    .socialmedia{
      width: 40px;
      height: fit-content;
    }
  

    .socials{
      width: fit-content;
      margin-bottom: 16px;
      margin-top: 16px;
      display: flex;
      gap: 16px;
    }
 
    p{
      margin: 0px;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 797px) and (orientation:landscape) {
    .footer{
     gap:20%;
    }
  } 