.shopping-cart{
    position:absolute;
    top:16px;
    right: 16px;
    display:flex;
    width:fit-content;
    height: auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    z-index:4;
}  
    
.shopping-cart-button {
    cursor: pointer;
    border: none;
    font-size: 14px;
    color:white;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: transparent;  
}
    
     
.shopping-cart-button img{
    width:60px;
    height:auto;  
}

